.vendd-license-management-wrap,
.child-theme-wrap {
	background: #fff;
	padding: 30px;
	border: 1px solid #DDD;
	border-radius: 3px;
	margin: 30px 10px 30px 0 !important;
	box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.1);
	max-width: 780px
}
.vendd-license-management-headline {
	margin-top: 0;
}
.vendd-license-management-wrap .license-key-label {
	margin: 0 0 6px;
}
.vendd-license-management-wrap p:not(:last-child),
.vendd-license-instructions,
.child-theme-wrap ol {
	font-size: 14px;
	line-height: 1.6;
	margin-bottom: 25px;
	max-width: 650px;
}
#vendd_license_key {
	background: #F1F1F1;
	padding: 8px;
	border-radius: 3px;
}
.vendd-license-management-wrap .submit,
.vendd-license-management-wrap input[type="submit"] {
	display: block;
	margin-top: 0;
	min-width: 200px;
}
.vendd-license-management-wrap input[type="submit"].button-secondary {
	margin: 0 0 10px;
}
.child-theme-wrap li {
	margin-bottom: 15px;
}
.vendd-pre {
	background: #F1F1F1;
	padding: 15px;
	border-radius: 3px;
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.1) inset;
	margin-bottom: 30px;
	display: block;
	overflow-x: scroll;
}
.cta-button {
	text-align: center;
	text-decoration: none;
	color: #fff;
	background: #3EBD3E;
	padding: 10px 15px;
	display: inline-block;
	border-radius: 3px;
	box-shadow: 0 1px 2px rgba(255, 255, 255, 0.5) inset;
	border: 1px solid #259425;
	font-size: 18px;
	text-shadow: 1px 1px rgba(0, 0, 0, 0.3);
}
.cta-button:hover {
	background: #2A9B2A;
	color: #fff;
}
.screenshot {
	margin: 2.5em 0 1.5em;
}
.vendd-screenshot {
	padding: 6px;
	background: #F2F3F5;
	border: 1px solid #DDD;
	border-radius: 3px;
	box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.1);
	max-width: 97%;
	height: auto;
}
.vendd-widget-usage{
	background: #fbe3e3;
	padding: 10px;
	border-radius: 4px;
}
#sidebar-download .vendd-widget-usage,
#sub-accordion-section-sidebar-widgets-sidebar-download .vendd-widget-usage {
	display: none;
}
@media all and ( max-width: 480px ) {
	#vendd_license_key {
		width: 100%;
	}
}